<p>
<!--  <strong>Username:</strong>  -->
  <h1><strong><%= @user.username %></strong> <% if @user.lukittu %><a class="bg-info">account frozen</a><% end %></h1>
  

</p>

<p>
	Has made <%= pluralize(@user.ratings.count, 'rating') %>,
	
	average <%=  round(@user.average_rating) %>
	
</p>

<ul>
	<% @user.ratings.each do |rating| %>
	<li> <%= rating %> 
		<% if @user == current_user %>
		  <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'are you sure??' } %>
		  <% end %>
	</li>
	<% end %>
</ul>

<ul>
	<strong>Memberships</strong>
	<% @user.memberships.each do |membership| %>
	<li> <%= membership %>
	</li>
	<% end %>

</ul>

<% if not @user.lukittu %>
<%= link_to "froze account", toggle_account_user_path(@user.id), method: :post, class: "btn btn-primary" %>
<% else %>
<%= link_to "reactivate account", toggle_account_user_path(@user.id), method: :post, class: "btn btn-warning" %>
<% end %>

<% if @user==current_user%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
<% else %>
<%= link_to 'Back', users_path %>
<% end %>
